<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0" aria-label="Burmese Compass home">
      <!-- <img src="assets/img/logo.webp" alt=""> -->
      <h1 class="sitename" id="sitename">Burmese<br>Compass</h1>
    </a>

    <nav id="navmenu" class="navmenu" aria-label="Main">
      <ul>
        <li><a href="index.html" data-route="^/$|/index\.html$" >Home</a></li>
        <li><a href="about.html" data-route="/about">About</a></li>
        <li><a href="destinations.html" data-route="/destinations">Destinations</a></li>
        <li><a href="tours.html" data-route="/tours">Tours</a></li>
        <li><a href="gallery.html" data-route="/gallery">Gallery</a></li>
        <li><a href="404.html" data-route="/blog">Blog</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle"><span>More Pages</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <!-- <li><a href="destination-details.html" data-route="/destination-details">Destination Details</a></li>
            <li><a href="tour-details.html" data-route="/tour-details">Tour Details</a></li> -->
            <li><a href="booking.html" data-route="/booking">Booking</a></li>
            <li><a href="testimonials.html" data-route="/testimonials">Testimonials</a></li>
            <li><a href="faq.html" data-route="/faq">Frequently Asked Questions</a></li>
            <li><a href="terms.html" data-route="/terms">Terms</a></li>
            <li><a href="privacy.html" data-route="/privacy">Privacy</a></li>
          </ul>
        </li>

        <li><a href="contact.html" data-route="/contact">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list" aria-label="Toggle menu" aria-expanded="false"></i>
    </nav>

    <a class="btn-getstarted" href="destinations.html">Get Started</a>
  </div>
</header>
